/* Body layout styling */
.layout {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #F6F7FB !important;
  grid:
    "sidebar body" 1fr / auto 1fr;
  gap: 0px;
}

.sidebar {
  grid-area: sidebar;
}

/* .btn {
  box-shadow: 0px 2px 6px 0px rgb(114, 124, 245);
} */

.btn {
  box-shadow: 0px 2px 6px 0px #a1f1da;
}

.body {
  grid-area: body;
  overflow-x: auto !important;
}



/* Navbar search  styling  */
.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 40px;
  min-width: 200px;
  padding: 0 1rem;
  color: black !important;
  background-color: #EEF2F7;
  border: none;
}

.message-input {
  min-height: 50px;
  max-width: 80%;
  padding: 0 1rem;
  color: black;
  font-size: 15px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.button--submit {
  min-height: 40px;
  padding: .5em 1em;
  border: none;
  background-color: #0ABF8C !important;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #14a57c !important;
}

/* .green-btn {
  min-height: 43px;
  padding: .5em 1em;
  border: none;
  background-color: #0ABF8C;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.green-btn:hover {
  background-color: #14a57c;
} */

.input:focus,
.input:focus-visible {
  border-color: #3898EC;
  outline: none;
}


/* Adds a subtle blur effect to the card */
.blur-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


/* Login Styles */

.login-page {
  background: linear-gradient(-45deg, #1a133e, #33114d, #0e3818, #071A52);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



/* Each Section Styling  */
main {
  width: auto !;
  height: 100vh !important;
  /* background-color: #F6F7FB; */
  /* background-color: #3898EC; */
  overflow-y: auto;
  overflow-x: auto !important;
}


/* RATING COMPONENT STYLE  */
.custom-rating {
  width: 2rem;
  /* Adjust the width as needed */
  height: 2rem;
  /* Adjust the height as needed */
}


.custom-select-menu ul {
  /* Set your desired background color here */
  background-color: red,
}